@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root{
--cor-fundo:rgba(58, 55, 94, 0.3);
--branco:#FFFFFF;
--verde-claro:#20F073;
--botao-inativo:#5720f0;
--botao-inativo:#5e20f0;
--botao-ativo:#f02020;
}
body{
    background-color: var(--cor-fundo);
    color: var(--branco);
    font-family: 'chakra petch', 'sans-serif';
}
.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
}
