@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap;');

:root{
--branco:#FFFFFF;
--cor-de-fundo:#00f7ff;
--cor-rosa:#aa009c;
--verde:#025c26;
--verde-claro:#20F073;
--verde-limao:#63d691;
--botao-inativo:rgba(118, 0, 253, 0.973);
--botao-inativo:rgba(8, 74, 86, 0.5);
--botao-ativo:rgba(17, 209, 243, 0.795);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'chakra petch', 'sans-serif';
}
.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 28px;
}
.titulo-principal span{
    color: var(--verde-limao);
}

.botao{
    font-family: 'chakra patch', 'sans-serif';
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
}